/* line 1, style-contact.scss */
* {
  box-sizing: border-box;
}

/* line 4, style-contact.scss */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/*.margin {
  margin: auto; }

.contenedor {
  width: 80%; }*/
/* line 14, style-contact.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 20, style-contact.scss */
#sec-nav .nav-header a {
  font-size: 13px;
  margin: 4px;
}

/* line 25, style-contact.scss */
#site-header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 32, style-contact.scss */
.banner {
  position: relative;
}
/* line 34, style-contact.scss */
.banner .text-img {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  padding-top: 20px;
  z-index: 10;
  transform: translateX(-50%);
  text-align: center;
}
/* line 43, style-contact.scss */
.banner .text-img h2 {
  font-size: 35px;
}
/* line 46, style-contact.scss */
.banner .text-img p {
  font-size: 12px;
  padding-top: 15px;
}
/* line 51, style-contact.scss */
.banner .banner-img img {
  width: 100%;
}

/* line 56, style-contact.scss */
#div-form {
  width: 85%;
  margin: 0 auto;
}
/* line 59, style-contact.scss */
#div-form h3, #div-form p {
  text-align: center;
  margin-top: 50px;
}

/* line 65, style-contact.scss */
form {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 71, style-contact.scss */
form .datos-contacto {
  width: 50%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 78, style-contact.scss */
form .datos-contacto input[type=text] {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
  border: 1px solid #e7e7e7;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 10px;
}
/* line 89, style-contact.scss */
form .mensaje-contacto {
  width: 50%;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 40px;
  height: 75%;
}
/* line 95, style-contact.scss */
form .mensaje-contacto textarea[type=text] {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
  border: 1px solid #e7e7e7;
  height: 100%;
  padding: 10px 10px;
}

/* line 107, style-contact.scss */
.enviar-contacto {
  width: 15%;
  margin: 0 auto;
}
/* line 110, style-contact.scss */
.enviar-contacto input[type=submit] {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  background-color: #099ad9;
  box-shadow: 1px 1px 1px 0px #0068b3;
  color: #fff;
}

/* line 126, style-contact.scss */
.sec-footer {
  margin-top: 70px;
  height: 250px;
  background-color: #15354B;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 133, style-contact.scss */
.sec-footer p {
  font-size: 25px;
}

/* line 138, style-contact.scss */
.sec-nav-footer {
  background-color: #081218;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 144, style-contact.scss */
.sec-nav-footer p {
  font-size: 12px;
}
/* line 148, style-contact.scss */
.sec-nav-footer #nav-footer a {
  font-size: 13px;
  margin: 4px;
}

/* line 155, style-contact.scss */
#site-footer {
  color: white;
}
/* line 157, style-contact.scss */
#site-footer a {
  color: white;
}

/* line 162, style-contact.scss */
span {
  color: blue;
}
