* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0; }

/*.margin {
  margin: auto; }

.contenedor {
  width: 80%; }*/

a {
  text-decoration: none;
  cursor: pointer; }

  #sec-nav {
    .nav-header{
      padding-top: 10px;
      a {
        font-size: 0.8em;
        margin: 4px;
    }
  }
  }
  #sec-logo{
    padding-bottom: 10px;
  }
  #site-header {
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      justify-content: space-around;
      align-items: center;

  }
.banner {
  position: relative;
  .text-img {
    color: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    padding-top: 20px;
    z-index: 10;
    transform: translateX(-50%);
    text-align: center;
    @media screen and (max-width: 991px) {
      top: 10%;
    }
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 12px;
      padding-top: 15px; }
  }
  .banner-img{
    img {
      width: 100%;
    }
  }
}
#div-form{
  width: 85%;
  margin:0 auto;
  h3, p{
    text-align: center;
    margin-top: 50px;
  }
}

form {
  height: 300px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
  /*.datos-contacto {
    width: 50%;
    padding: 0px 40px;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  input[type=text]{
      font-family: 'Raleway', sans-serif;
      width: 100%;
      border-radius: 2px;
      box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
      border: 1px solid #e7e7e7;
      margin-top: 15px;
      /*margin-bottom: 15px;*/
      padding: 10px 10px;
    }

  /*.mensaje-contacto {
    width: 50%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 40px;
    height: 75%;*/


}
textarea[type=text]{
    margin-top: 15px;
    height: 186px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    border-radius: 2px;
    box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
    border: 1px solid #e7e7e7;
    padding: 10px 10px;
  }
/*.enviar-contacto {
  width: 15%;
  margin: 0 auto;*/
#boton{
  text-align: center;
}

input[type=submit] {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  background-color: #099ad9;
  box-shadow: 1px 1px 1px 0px #0068b3;
  color: #fff;
}
/*}*/
.sec-footer {
  margin-top: 70px;
  height: 250px;
  background-color: #15354B;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 25px;
  }
}

.sec-nav-footer {
  background-color: #081218;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 12px;
  }
  #nav-footer{
    a{
      font-size: 13px;
      margin: 4px;
    }
  }
}

#site-footer {
  color: white;
  a {
    color: white;
  }
}

span {
  color: blue; }
