/* line 1, style-contact.scss */
* {
  box-sizing: border-box;
}

/* line 4, style-contact.scss */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/*.margin {
  margin: auto; }

.contenedor {
  width: 80%; }*/
/* line 14, style-contact.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 19, style-contact.scss */
#sec-nav .nav-header {
  padding-top: 10px;
}
/* line 21, style-contact.scss */
#sec-nav .nav-header a {
  font-size: 0.8em;
  margin: 4px;
}

/* line 27, style-contact.scss */
#sec-logo {
  padding-bottom: 10px;
}

/* line 30, style-contact.scss */
#site-header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 38, style-contact.scss */
.banner {
  position: relative;
}
/* line 40, style-contact.scss */
.banner .text-img {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  padding-top: 20px;
  z-index: 10;
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (max-width: 991px) {
  /* line 40, style-contact.scss */
  .banner .text-img {
    top: 10%;
  }
}
/* line 52, style-contact.scss */
.banner .text-img h2 {
  font-size: 35px;
}
/* line 55, style-contact.scss */
.banner .text-img p {
  font-size: 12px;
  padding-top: 15px;
}
/* line 60, style-contact.scss */
.banner .banner-img img {
  width: 100%;
}

/* line 65, style-contact.scss */
#div-form {
  width: 85%;
  margin: 0 auto;
}
/* line 68, style-contact.scss */
#div-form h3, #div-form p {
  text-align: center;
  margin-top: 50px;
}

/* line 74, style-contact.scss */
form {
  height: 300px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
  /*.datos-contacto {
    width: 50%;
    padding: 0px 40px;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  /*.mensaje-contacto {
    width: 50%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 40px;
    height: 75%;*/
}
/* line 87, style-contact.scss */
form input[type=text] {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
  border: 1px solid #e7e7e7;
  margin-top: 15px;
  /*margin-bottom: 15px;*/
  padding: 10px 10px;
}

/* line 107, style-contact.scss */
textarea[type=text] {
  margin-top: 15px;
  height: 186px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
  border: 1px solid #e7e7e7;
  padding: 10px 10px;
}

/*.enviar-contacto {
  width: 15%;
  margin: 0 auto;*/
/* line 120, style-contact.scss */
#boton {
  text-align: center;
}

/* line 124, style-contact.scss */
input[type=submit] {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  background-color: #099ad9;
  box-shadow: 1px 1px 1px 0px #0068b3;
  color: #fff;
}

/*}*/
/* line 140, style-contact.scss */
.sec-footer {
  margin-top: 70px;
  height: 250px;
  background-color: #15354B;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 147, style-contact.scss */
.sec-footer p {
  font-size: 25px;
}

/* line 152, style-contact.scss */
.sec-nav-footer {
  background-color: #081218;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 158, style-contact.scss */
.sec-nav-footer p {
  font-size: 12px;
}
/* line 162, style-contact.scss */
.sec-nav-footer #nav-footer a {
  font-size: 13px;
  margin: 4px;
}

/* line 169, style-contact.scss */
#site-footer {
  color: white;
}
/* line 171, style-contact.scss */
#site-footer a {
  color: white;
}

/* line 176, style-contact.scss */
span {
  color: blue;
}
