/* line 1, style-contact.scss */
* {
  box-sizing: border-box;
}

/* line 4, style-contact.scss */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/*.margin {
  margin: auto; }

.contenedor {
  width: 80%; }*/
/* line 14, style-contact.scss */
a {
  text-decoration: none;
  cursor: pointer;
}
/* line 17, style-contact.scss */
a:hover {
  font-weight: bold;
}

/* line 23, style-contact.scss */
#sec-nav .nav-header {
  padding-top: 10px;
}
/* line 25, style-contact.scss */
#sec-nav .nav-header a {
  font-size: 0.9em;
  margin: 4px;
}

/* line 31, style-contact.scss */
#sec-logo {
  padding-bottom: 10px;
}

/* line 34, style-contact.scss */
#site-header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 34, style-contact.scss */
  #site-header {
    flex-direction: column;
  }
}

/* line 45, style-contact.scss */
.banner {
  position: relative;
}
@media screen and (max-width: 767px) {
  /* line 45, style-contact.scss */
  .banner {
    display: none;
  }
}
/* line 50, style-contact.scss */
.banner .text-img {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  padding-top: 20px;
  z-index: 10;
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (max-width: 991px) {
  /* line 50, style-contact.scss */
  .banner .text-img {
    top: 10%;
  }
}
/* line 62, style-contact.scss */
.banner .text-img h2 {
  font-size: 35px;
}
/* line 65, style-contact.scss */
.banner .text-img p {
  font-size: 12px;
  padding-top: 15px;
}
/* line 70, style-contact.scss */
.banner .banner-img img {
  width: 100%;
}

/* line 75, style-contact.scss */
#div-form {
  width: 85%;
  margin: 0 auto;
}
/* line 78, style-contact.scss */
#div-form h3, #div-form p {
  text-align: center;
  margin-top: 50px;
}

/* line 84, style-contact.scss */
form {
  height: 300px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
  /*.datos-contacto {
    width: 50%;
    padding: 0px 40px;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  /*.mensaje-contacto {
    width: 50%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 40px;
    height: 75%;*/
}
/* line 97, style-contact.scss */
form input[type=text] {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
  border: 1px solid #e7e7e7;
  margin-top: 15px;
  /*margin-bottom: 15px;*/
  padding: 10px 10px;
}

/* line 117, style-contact.scss */
textarea[type=text] {
  margin-top: 15px;
  height: 186px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -2px rgba(100, 116, 142, 0.4);
  border: 1px solid #e7e7e7;
  padding: 10px 10px;
}

/*.enviar-contacto {
  width: 15%;
  margin: 0 auto;*/
/* line 130, style-contact.scss */
#boton {
  text-align: center;
}

/* line 134, style-contact.scss */
input[type=submit] {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  background-color: #099ad9;
  box-shadow: 1px 1px 1px 0px #0068b3;
  color: #fff;
}

/*}*/
/* line 150, style-contact.scss */
.sec-footer {
  margin-top: 70px;
  height: 250px;
  background-color: #15354B;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 150, style-contact.scss */
  .sec-footer {
    text-align: center;
  }
}
/* line 160, style-contact.scss */
.sec-footer p {
  font-size: 1.5em;
}

/* line 165, style-contact.scss */
.sec-nav-footer {
  background-color: #081218;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 171, style-contact.scss */
.sec-nav-footer p {
  font-size: 0.75em;
}
/* line 175, style-contact.scss */
.sec-nav-footer #nav-footer a {
  font-size: 0.8em;
  margin: 4px;
}
@media screen and (max-width: 991px) {
  /* line 165, style-contact.scss */
  .sec-nav-footer {
    flex-direction: column;
    justify-content: center;
  }
}

/* line 185, style-contact.scss */
#site-footer {
  color: white;
}
/* line 187, style-contact.scss */
#site-footer a {
  color: white;
}

/* line 193, style-contact.scss */
span {
  color: blue;
}
