/* line 3, ../style.scss */
.flex-features .features-left .feature h5, .flex-features .features-left .feature p, .flex-features .features-right .feature h5, .flex-features .features-right .feature p {
  margin: 2px;
}

/* line 7, ../style.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../style.scss */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* line 14, ../style.scss */
.margin {
  margin: auto;
}

/* line 17, ../style.scss */
.contenedor {
  width: 80%;
}

/* line 20, ../style.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 26, ../style.scss */
#sec-nav .nav-header a {
  font-size: 0.8em;
  margin: 4px;
}

/* line 32, ../style.scss */
#site-header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 40, ../style.scss */
.banner {
  position: relative;
}

/* line 44, ../style.scss */
.banner .text-img {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 20%;
  padding-top: 20px;
  z-index: 10;
}

/* line 56, ../style.scss */
.banner .text-img p {
  font-size: 0.8em;
  padding-top: 15px;
}

/* line 65, ../style.scss */
.banner .banner-img img {
  width: 100%;
}

/* line 70, ../style.scss */
.sec-search-bar {
  width: 100%;
  margin-top: -45px;
  height: 80px;
}

/* line 75, ../style.scss */
form {
  position: relative;
  z-index: 10;
  height: 80px;
  display: flex;
  justify-content: center;
}

/* line 82, ../style.scss */
input[type="email"] {
  padding-left: 30px;
  margin: 0;
  border: 0 none;
  font-family: "Open Sans", sans-serif;
  flex-grow: 1;
  box-shadow: 0px 3px 6px 1px rgba(72, 97, 115, 0.49);
}

/* line 90, ../style.scss */
input[type=submit] {
  text-transform: uppercase;
  background-color: #4a88f2;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  flex-basis: 180px;
  flex-grow: 0;
  color: #fff;
  border: 0 none;
}

/* line 100, ../style.scss */
.sec-service {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 109, ../style.scss */
.service {
  text-align: center;
  text-transform: uppercase;
  flex-basis: 25%;
  padding: 10px 20px;
}
/* line 114, ../style.scss */
.service p {
  text-transform: none;
}

/* line 119, ../style.scss */
.title-services {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
/* line 123, ../style.scss */
.title-services h2 {
  font-size: 2em;
}
/* line 126, ../style.scss */
.title-services p {
  font-size: 1em;
}

/* line 132, ../style.scss */
.flex-features {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 138, ../style.scss */
.flex-features .features-left {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
/* line 144, ../style.scss */
.flex-features .features-left .feature {
  margin: 30px 10px;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 151, ../style.scss */
.flex-features .features-left .feature .feature-text {
  text-align: right;
  margin-top: 20px;
  margin-right: 10px;
}
/* line 156, ../style.scss */
.flex-features .features-left .feature h5 {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 165, ../style.scss */
.flex-features .features-left .feature .feature-img {
  text-align: right;
  margin: 2px;
  padding-bottom: 20px;
}
/* line 172, ../style.scss */
.flex-features .features-right {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
/* line 178, ../style.scss */
.flex-features .features-right .feature {
  margin: 30px 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 185, ../style.scss */
.flex-features .features-right .feature .feature-text {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}
/* line 190, ../style.scss */
.flex-features .features-right .feature h5 {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 199, ../style.scss */
.flex-features .features-right .feature .feature-img {
  text-align: left;
  margin: 2px;
  padding-bottom: 20px;
}

/* line 208, ../style.scss */
.phone-image {
  margin: 5px;
  z-index: 1;
}

/* line 214, ../style.scss */
.sec-price {
  position: relative;
  margin-top: -80px;
}

/* line 218, ../style.scss */
.image-price {
  width: 100%;
}
/* line 220, ../style.scss */
.image-price img {
  width: 100%;
}

/* line 224, ../style.scss */
.title-price {
  position: absolute;
  top: 120px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 231, ../style.scss */
.title-price h2 {
  font-size: 1.8em;
}

/* line 239, ../style.scss */
.sec-services {
  font-family: "Open Sans", sans-serif;
}

/* line 244, ../style.scss */
.contenedor .sec-services-pricing {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
/* line 250, ../style.scss */
.contenedor .sec-services-pricing .price {
  background-color: #fff;
  z-index: 2;
  height: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 0.5px #1f1b1b;
  margin-top: -75px;
  margin-left: 10px;
  margin-right: 10px;
  /*flex */
  flex-basis: 25%;
}
/* line 264, ../style.scss */
.contenedor .sec-services-pricing .price .name-package {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}
/* line 269, ../style.scss */
.contenedor .sec-services-pricing .price .package-price {
  text-align: center;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #d4d0ca;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 278, ../style.scss */
.contenedor .sec-services-pricing .price .table-price {
  width: 100%;
  padding: 8px 12px;
  font-size: 0.8em;
  margin-bottom: 20px;
  border-color: #ffffff;
}
/* line 285, ../style.scss */
.contenedor .sec-services-pricing .price .table-price tr td {
  padding: 4px 10px;
}
/* line 290, ../style.scss */
.contenedor .sec-services-pricing .price button {
  width: 100%;
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
  background-color: #099ad9;
  box-shadow: 1px 1px 1px 0px #0068b3;
}
/* line 304, ../style.scss */
.contenedor .sec-services-pricing .price button a {
  color: #fff;
}

/* line 314, ../style.scss */
sup {
  font-size: 0.7em;
}

/* line 318, ../style.scss */
.sec-footer {
  margin-top: 70px;
  height: 250px;
  background-color: #15354B;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 325, ../style.scss */
.sec-footer p {
  font-size: 1.5em;
}

/* line 330, ../style.scss */
.sec-nav-footer {
  background-color: #081218;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 336, ../style.scss */
.sec-nav-footer p {
  font-size: 0.75em;
}
/* line 340, ../style.scss */
.sec-nav-footer #nav-footer a {
  font-size: 0.8em;
  margin: 4px;
}

/* line 346, ../style.scss */
#site-footer {
  color: white;
}
/* line 348, ../style.scss */
#site-footer a {
  color: white;
}

/* line 354, ../style.scss */
span {
  color: blue;
}
