* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.margin {
    margin: auto;
}
.contenedor {
    width: 80%
}
#sec-logo {
    /*position: relative;*/
    display: inline-block;
    float: left;
}
#sec-nav {
    /*position: relative;*/
    display: inline-block;
    float: right;
    padding-top: 25px;
    margin-left: auto;
}
a {
    text-decoration: none;
    cursor: pointer;
}
#sec-nav .nav-header a {
    font-size: 13px;
    margin: 4px;
}
#site-header {
    padding-left: 25px;
    padding-right: 25px;
}
.banner img {
    width: 100%;
}
.sec-search-bar {
    width: 100%;
    margin-top: -45px;
}
form {
    height: 100%;
    width: 100%;
}
input[type="email"] {
    padding-left: 30px;
    height: 80px;
    margin: 0;
    width: calc(100% - 239px);
    font-family: 'Open Sans', sans-serif;
}
input[type=submit] {
    width: 200px;
    height: 80px;
    background-color: #4a88f2;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.sec-service {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service {
    text-align: center;
}
.title-services {
    text-align: center;
    margin-top: 40px;
}
.flex-features {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-features .features-left {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.flex-features .features-left .feature {
    margin: 30px 10px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-features .features-left .feature .feature-text {
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
}
.flex-features .features-left .feature .feature-img {
    text-align: right;
    margin: 2px;
    padding-bottom: 20px;
}
.flex-features .features-left .feature h5, p {
    margin: 2px;
}
.flex-features .features-left .feature h5 {
    font-size: 15px;
    text-transform: uppercase;
}
.phone-image {
    margin: 5px;
    z-index: 1;
}
.flex-features .features-right {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.flex-features .features-right .feature {
    margin: 30px 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-features .features-right .feature .feature-text {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}
.flex-features .features-right .feature .feature-img {
    text-align: left;
    margin: 2px;
    padding-bottom: 20px;
}
.flex-features .features-right .feature h5, p {
    margin: 2px;
}
.flex-features .features-right .feature h5 {
    font-size: 15px;
    text-transform: uppercase;
}
.sec-price {
    position: relative;
    margin-top: -80px;
}
.image-price {
    width: 100%;
}
.image-price img {
    width: 100%;
}
.title-price {
    position: absolute;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
.sec-services, .sec-services-pricing {
    font-family: 'Open Sans', sans-serif;
}
.sec-services-pricing {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}
.price {
    background-color: #fff;
    z-index: 2;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 0.5px #1f1b1b;
    margin-top: -100px;
    margin-left: 10px;
    margin-right: 10px;
    /*flex */
    flex-basis: 25%;
}
.contenedor .sec-services-pricing .price .name-package {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}
.contenedor .sec-services-pricing .price .package-price {
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #d4d0ca;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
sup {
    font-size: 20px;
}
.contenedor .sec-services-pricing .price .table-price {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 20px;
    border-color: #ffffff;
}
.contenedor .sec-services-pricing .price .table-price tr td {
    padding: 4px 10px;
}
.contenedor .sec-services-pricing .price button {
    width: 100%;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
    background-color: #099ad9;
    box-shadow: 1px 1px 2px 0px rgb(0, 104, 179)
}
.contenedor .sec-services-pricing .price button a {
    color: #fff;
}
.sec-footer {
    margin-top: 70px;
    height: 250px;
    background-color: #15354B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-footer p {
    font-size: 25px;
}
.sec-nav-footer {
    background-color: #081218;
}
#site-footer {
    color: white;
}
#site-footer a {
    color: white;
}
span {
    color: blue;
}
